# Compiled Object files
*.slo
*.lo
*.o
*.obj

# remove executable
test.exe
test.x64
test.x32
diapo.exe

# Compiled Dynamic libraries


# Compiled Static libraries
*.lai
*.la

#backup file
*~
*swp

#visual file
.gitattributes
POO.opensdf
POO.sdf
POO.sln
POO.v11.suo
POO.vcxproj
POO.vcxproj.filters
POO.vcxproj.user
Release
*.lastbuildstate
*.tlog
*.log
visual/visual.opensdf

clean.bat

#fuckingfiles
*.lock
*.odt#
recordFile
test.mid
Thumbs.db

#settings files
settings.ini

#dll
bass.dll
bassasio.dll
releases/
