# Compiled Object files
*.slo
*.lo
*.o

# remove executable
test.exe

# Compiled Dynamic libraries


# Compiled Static libraries
*.lai
*.la

#backup file
*~
*swp

#visual file
.gitattributes
POO.opensdf
POO.sdf
POO.sln
POO.v11.suo
POO.vcxproj
POO.vcxproj.filters
POO.vcxproj.user
Release

